.right-container, .left-container {
  display: inline-block;
  vertical-align: top;
}

app-mini-map, app-google-sign-in, app-location-info {
  display: block;
}

app-controls, app-street-view {
  display: block;
}
