.right-container, .left-container {
  display: inline-block;
  vertical-align: top;
}

app-mini-map, app-google-sign-in, app-location-info {
  display: block;
}

app-controls, app-street-view {
  display: block;
}

.header {
  background-color: #00cdbe;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

app-game {
  background-color: #eee;

}
