.mini-map-container {
  display: block;
  height: 300px;
  width: 300px;
}

.container {
  border-radius: 4px;
  background-color: #00cdbe;
  padding: 6px;
}

.minimap-header {
  color: #fff;
  font-weight: bold;
}
